{% extends 'base.html.twig' %}

{% block title %} Sneaker Boy {% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-2">
    {% for product in products %}
    
   
       <ul>
       <li><a href="{{ path('categorysort', {id: product.category.id}) }}">{{product.category.name}}</a></li>
       </ul> 
    
     {% endfor %}
    </div>
    <div class="col-lg">
     <div class="container "  >
    <div class="row">
         {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://via.placeholder.com/200x150" alt="{{ product.name }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <div class="d-flex justify-content-between align-item-center">
                            <a href="{{ path('product_detail', {id: product.id}) }}" class="btn btn-dark">View details</a>
                            <span class="h5 mt-auto">{{ product.price }} €</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
    </div>
    <div class="col-sm-2">
      One of three columns
    </div>
  </div>
</div>

{% endblock %}
