{% extends 'base.html.twig' %}

{% block title %} Customer {% endblock %}

{% block body %}
<div class="container col-md-6 text-center mt-3">
<h1 class="text text-primary"> Customer List </h1>
{% for message in app.session.flashBag.get("Error") %}
        <p class="alert alert-danger">{{ message }} </p>
{% endfor %} 
{% for message in app.session.flashBag.get("Success") %}
        <p class="alert alert-warning">{{ message }} </p>
{% endfor %} 
<table class="table">
    <thead>
        <tr>
            <th>Customer Id</th>
            <th>Customer Name</th>
            <th>Customer Phone</th>
            <th>Customer City</th>
            <th>Customer Password</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td scope="row">{{ app.user.id }}</td>
            <td>
                
                    {{ app.user.customer.name }}
                
             </td>
            <td>{{ app.user.customer.phone }}</td>
            <td>{{app.user.customer.city}}
            <td>
            {{app.user.customer.password}}
    </td>
            <td>
                <a class="btn btn-warning" href="{{ path('Customer_edit', {'id' : Customer.id })}}">
                    EDIT
                </a>
               
            </td>
        </tr>
    {% endfor %}    
    </tbody>
</table>
</div>
{% endblock %}