{% extends 'base.html.twig' %}

{% block title %} Product {% endblock %}


{% block body %}
<div class="container col-md-8 text-center mt-3">
<h1 class="text text-primary"> Product List </h1>
<a name="" id="" class="btn btn-primary" href="{{ path('product_add')}}" role="button">Add</a>
{% for message in app.session.flashBag.get("Error") %}
        <p class="alert alert-danger  col-md-3 ">{{ message }} </p>
{% endfor %} 
{% for message in app.session.flashBag.get("Success") %}
        <p class="alert alert-warning  col-md-3 ">{{ message }} </p>
{% endfor %} 
<table class="table">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Product Color</th>
            <th>Product Price</th>
            <th>Product Image</th>
            <th> Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td scope="row">{{ product.id }}</td>
            <td>
                <a href="{{ path('product_detail', {'id' : product.id })}}">
                    {{ product.name }}
                </a>
             </td>
            <td>{{ product.color }}</td>
            <td>{{product.price}}</td>
            <td>
            <img src="{{asset(product.image)}}" alt="{{product.name}}"
    width="200" height="200">
    </td>
     <td>{{product.name}}</td>
            <td>
                <a class="btn btn-warning" href="{{ path('product_edit', {'id' : product.id })}}">
                    EDIT
                </a>
                <a class="btn btn-danger" href="{{ path('product_delete', {'id' : product.id })}}"
                onclick="return confirm('Are you sure to delete this Product ?')";
                >
                    DELETE
                </a>
            </td>
        </tr>
    {% endfor %}    
    </tbody>
</table>
</div>
{% endblock %}